body{
    background-color: rgb(62, 62, 62) ;
}
.box{
    padding: 10px;
    width: auto;
    height: auto;
        
}
.box >div{
    box-shadow: 7px 7px 7px black;
    border-radius: 9px;
    }
.header{
    padding: 4px;
    background: rgb(144, 144, 144);
    width: 850px
}
.header > img{
    margin: 0px 0px 0px 0px;
}
#reload{
    position: relative;
    top: -70px;
    left: 500px;
}
#scop{
    position: relative;
    top: 20px;
    left:300px
}
#close2{
    position: relative;
    top:auto;
    left: 300px;
}
.left-pad{
    padding: 10px;
    background-color: rgb(144, 144, 144);
    width: 100px;
    height: 300px;
    margin: 15px 0px 0px 0px;
}

.center{
    padding: 10px;
    background-color: rgb(144, 144, 144);
    position: relative;
    margin: -320px 300px 0px 135px;
    width: 560px;
    height: 350px
}
.center > img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    width: 550px;
    height: 350px;
    
}
.right-pad{
    padding: 10px;
    background-color: rgb(144, 144, 144);
    width: 100px;
    height: 300px;
    margin: -370px 0px 0px 730px;
    
}
.sea{
    z-index: 1;
    background-color: rgb(120, 255, 116);
    padding: 02px;
    position: absolute;
    left: 1%;
    width: 399px;
    height: 100px;
    margin: 30px 0px 0px 0px
    
}
.search{
    background-color: white;
    padding: 0px;
    height: 20px;
    width: 350px;
    margin: -10px 0px 0px 30px
}